/* Google Web Font Import */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+AR+Guides&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet);


/* Reset 및 기본 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif; 
}

/* 메인 섹션 레이아웃 */
section {
    position: relative;
    width: 100%;             /* 반응형을 위해 1600px에서 100%로 수정 권장 */
    max-width: 1600px;       /* 최대 너비 제한 */
    margin: 0 auto;
    min-height: 100vh;
    background-color: ivory;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 헤더 네비게이션 */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    margin-left: 40px;
    text-decoration: none;
}

/* 콘텐츠 영역 */
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 텍스트 박스 스타일링 */
.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #7a5608;
    font-size: 1.2em;
    font-weight: 900;
}

/* 콘텐츠 영역 내의 특정 span(Conte de Tulear) 스타일 */
.content .textBox h2 span {
    color: #7a5608;
    font-size: 1.2em;
    font-weight: 700; /* Garamond는 너무 두꺼운 것보다 적당한 게 예뻐요 */

    /* 여기에 불러온 폰트 이름을 넣습니다 */
    font-family: 'Cormorant Garamond', serif; 
    
    /* 팁: 영문 폰트는 한 줄로 나오게 하는 게 예뻐서 아래 코드를 추천해요 */
    display: block; 
}

/* 예약하기 버튼 */
.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #7a5608;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

/* 이미지 박스 */
.content .imgBox {
    flex: 1;         
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding-right: 0; 
    margin-top: 50px;
}

.content .imgBox img {
    max-width: 1000px;
}

/* 하단 썸네일 리스트 */
.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    transform: translateX(-50%);
    list-style: none;
}

.thumb li {
    margin: 0 10px;
}

.thumb li img {
    max-width: 60px; /* 썸네일 크기 적정화 */
    cursor: pointer;
}


.sci li a img {
    max